input:focus {
    box-shadow: none!important;
}
.bg-dark, .table-dark, .btn-dark {
    background-color: #141414!important;
}
#song-progress, #volume-progress {
    width: 100%;
    height: 18px;
}
#song-progress .slider-track {
    height: 3px;
}
#volume-progress .slider-track {
    height: 2px;
}
#song-progress .slider-selection, #volume-progress .slider-selection {
    background: #C20C0C;
}
#song-progress .slider-track-high, #volume-progress .slider-track-high {
    background: #666;
}
#song-progress .slider-handle {
    margin-left: -4px;
    margin-top: 2px;
    width: 7px;
    height: 7px;
    background: #C20C0C;
}
#volume-progress .slider-handle {
    margin-left: -3px;
    margin-top: 2px;
    width: 6px;
    height: 6px;
    background: #C20C0C;
}
.icon-play-cicle:hover, .icon-volume:hover, .icon-volumeoff:hover, .icon-lyric:hover, .icon-prev:hover,
.icon-play:hover, .icon-pause:hover, .icon-next:hover {
    color: #e8e8e8;
}
.icon-play-cicle, .icon-volume, .icon-volumeoff, .icon-lyric, .icon-prev, .icon-next {
    font-size: 24px;
    color: #666;
    cursor: pointer;
}
.icon-play, .icon-pause {
    font-size: 32px;
    color: #666;
    cursor: pointer;
}