<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Music</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_2393058_2u862npqj2u.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
    <script src="{{ url_for('static', filename='js/music.js') }}"></script>
</head>
<body class="bg-dark">
<div class="container-fluid">
    <div class="bg-dark pt-2 pb-2 fixed-top"
         style="padding-right: 15px; padding-left: 15px; border-bottom: 5px solid #C20C0C; display: inline-flex;">
        <div class="align-self-center">
            <i class="iconfont icon-search" style="color: #666; font-size: 24px;"></i></div>
        <input id="s_song_name" type="text" class="form-control bg-dark text-light border-0 w-100"
               autocomplete="off" placeholder=""/>
    </div>
    <div id="s_song_results" class="row" style="margin-top: 70px; margin-bottom: 64px;"></div>
    <div id="page-lyric"></div>
    <div class="pt-2 pb-2 fixed-bottom"
         style="padding-right: 15px; padding-left: 15px; background-color: #242424; display: inline-flex;">
        <audio id="audio" src=""></audio>
        <div class="ml-5 align-self-center">
            <i class="iconfont icon-prev"></i>
        </div>
        <div class="ml-4 align-self-center">
            <i id="play-pause" class="iconfont icon-play"></i>
        </div>
        <div class="ml-4 align-self-center">
            <i class="iconfont icon-next"></i>
        </div>
        <div class="ml-5 align-self-center">
            <img id="album-pic" src="{{ url_for('static', filename='img/record.png') }}" width="46" height="46">
        </div>
        <div class="ml-3 w-100">
            <div style="height: 24px;">
                <span id="song-name" style="color: #e8e8e8"></span>
                <span id="song-singer" class="ml-2" style="color: #9b9b9b;"></span>
                <div class="float-right" style="color: #797979;">
                    <span id="song-currentTime" style="color: #a1a1a1;">00:00</span> /
                    <span id="song-duration">00:00</span>
                </div>
            </div>
            <input id="song-progress-input" data-slider-id='song-progress'/>
        </div>
        <div class="ml-5 align-self-center">
            <i class="iconfont icon-lyric" data-toggle="collapse" data-target="#page-lyric"></i>
        </div>
        <div class="ml-3 align-self-center">
            <i id="volume" class="iconfont icon-volume"></i>
        </div>
        <div class="ml-2 align-self-center mr-5" style="width: 145px; margin-top: 3px;">
            <input id="volume-progress-input" data-slider-id='volume-progress'/>
        </div>
    </div>
</div>
</body>
</html>